/* 
    UTILITÁRIOS
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');

:root {
    --background: #1D1D1B;
    --font: #BEBEBE;
}

* {
    margin: 0;
    padding: 0;
}

/* 
    CSS'S
*/

body {
    background-color: var(--background);
}

header {
    font-family: 'IBM Plex Mono';
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    font-size: 25px;
}

header a {
    color: var(--font);
    text-decoration: none;
    transition: ease .2s;
}

header a:hover {
    color: #fff;
    text-shadow: 0px 0px 2px #fff;
}

main {
    width: fit-content;
    display: grid;
    place-items: center;
    margin: 15%;
}


/* 
CLASSES E IDS
*/
.about {
    width: 70%;
}

.img-social {
    transition: ease .2s;
}

.img-social:hover {
    fill: #fff;
}

.icon a img {
    width: 64px;
}

.about {
    display: grid;
    gap: 20px 0;
}
.about h1 {
    font-family: 'IBM Plex Mono';
    background: linear-gradient(270deg, #F00 25%, #FFF500 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    font-weight: 700;
}

.about h2 {
    font-family: 'IBM Plex Mono';
    color: #fff;
    font-size: 55px;
}

.about p {
    color: var(--font);
    font-family: 'Magra';
    font-size: 20px;
}

#cv {
    background: linear-gradient(90deg, #F8DB03 0%, #A81C1B 100%);
    font-size: 25px;
    font-family: 'Magra';
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 17px 60px;
    border-radius: 2.6875rem;
    box-shadow: -1px -4px 68px -1px rgba(248, 4, 4, 0.25);
    margin-top: 50px;
}

#cv:hover {
    background: linear-gradient(90deg, rgba(233, 225, 0, 0.959) 0%, rgb(230, 0, 0) 100%);
} 

.circle-1 {
    position: absolute;
    top: 24vh;
    right: 22vw;
    z-index: -1;
}

.circle-2{
    position: absolute;
    top: 30vh;
    right: 22vw;
    z-index: -1;
}
/* 
    MEDIA-QUERIES
*/