@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #1D1D1B;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    background: #1D1D1B;
}

.nav-menu {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.nav-menu a {
    text-decoration: none;
    padding: 0 45px;
    color: #b6b6b6;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: ease .2s;
}

.nav-menu a:hover{
    color: white;
    transform: scale(1.1);
}

.nav-social {
    margin-right: 240px;
}

.nav-social img {
    padding: 0 15px;
}

.icon img {
    width: 64px;
    height: 60px;
    margin: 0 130px;
    margin-right: auto;
}